# === Python junk files ===
__pycache__/
*.py[cod]
*.pyo

# === Logs, caches, backups ===
*.log
*.zip
*.bak
.DS_Store
.cache/
.idea/

# === Environnement virtuel ===
venv/
.env
.env.*

# === Fichiers générés (résumés, nuages, PDF) ===
*.pdf
*.png

# === Données locales ===
data/uploads/
data/outputs/
visualisation/wordclouds/
evaluation/scores/

# === Fichiers de test ou temporaires ===
test_*
tmp_*
